extends layout.pug
block content
  nav
    .nav-wrapper.light-blue.darken-4
      a(class='brand-logo', href='/') AuroraRTS
      ul(id='nav-mobile', class='right hide-on-med-and-down')
          li
            a(href='#') About
            a(href='#') Donate
            a(href='#') Account
